* {
    box-sizing: border-box;
    margin: 0;
}
.main {
    margin: 10px;
    margin-top: 49px;
    overflow-y: auto;
}
.main-musicDetails {
    overflow-y: auto;
    margin-top: 39px;
}
nav {
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    color: white;
    list-style: none;
    padding: 10px;
}
nav ul li:hover {
    background-color: rgb(0, 0, 100);
}
nav ul li a {
    cursor: pointer;
}

.sticky + .content {
    padding-top: 60px;
}

.player {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px lightblue solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
.player audio {
    display: table;
    margin: 0 auto;
}
table {
    border: 1px lightblue solid;
}
table th {
    background-color: black;
    color: white;
}
.invisible {
    display: none;
}
.btn {
    background-color: blue;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 6px;
}
.btn-submit {
    padding: 12px 20px;
}
.btn:hover {
    background-color: #252592;
}

.btn:focus {
    background-color: darkblue;
}
/* https://www.w3schools.com/css/css_form.asp */

input {
    width: 100%;
}
input[type=text],
    input[type=date],
    input[type=url], 
    select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input:invalid {
    border: 2px solid red;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
form {
    margin: 0 auto;
    width: 50%;
}
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 10px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    form {
        margin: unset;
        width: 100%;
    }
}

/* https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    border: 1px solid lightblue;
    transition: max-height 0.2s ease-out;
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: darkgray;
    cursor: pointer;
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

/* CSS Grid */
.card-grid {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

/*Image styles*/
.music-banner {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}
.music-banner-image-div {
    overflow-y: auto;
}
.banner-image {
    width: 100%;
}
.banner-controls {
    padding: 10px;
    height: 100px;
}
.banner-controls h1 {
    padding-left: 10px;
}
.banner-controls-list {
    display: flex;
}
.banner-controls-list a {
    cursor: pointer;
    color: blue;
    padding: 10px;
}

/* Admonitions */
.admon-warning {
    background-color: yellow;
    padding: 10px;
}

/* https://www.w3schools.com/howto/howto_js_vertical_tabs.asp */
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    overflow-y: hidden;
}
#musicDetailsBody {
    display: flex;
    padding-bottom: 50px;
}
@media screen and (max-width: 600px) {
    #musicDetailsBody {
        flex-direction: column;
    }
    .tabcontent {
        width: 100%;
    }
    .tab {
        width: 100%;
    }
}